<div class="wrapper fadeInDown">
  <div id="formContent">

<form #resetForm="ngForm" (ngSubmit)="resetForm.valid && onSubmit(resetForm)">
<div class="head">
<h2 class="active underlineHover">Reset Password</h2>
</div>
<!-- <label>Email:</label> -->
<input type="text" #email="ngModel" [(ngModel)]="userService.resetpassword.email" placeholder="Email" name="email"
    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :resetForm.submitted && !email.valid}">
  <div *ngIf="resetForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>

  <!-- <label>Old Password:</label> -->
  <input type="password" #password="ngModel" [(ngModel)]="userService.resetpassword.password" placeholder="Password"
    name="password" required minlength="8" maxlength="20" [ngClass]="{'invalid-textbox' :resetForm.submitted && !password.valid}">
  <div *ngIf="resetForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 8 characters.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Password cannot be more than 20 characters.</label>
  </div>
  <!-- <label>New Password:</label> -->
  <input type="password" #newPassword="ngModel" [(ngModel)]="userService.resetpassword.newPassword" placeholder="New Password" pattern="(?=^.{8,20}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
    name="newPassword" required [ngClass]="{'invalid-textbox' :resetForm.submitted && !newPassword.valid}">
  <div *ngIf="resetForm.submitted && newPassword.errors">
    <label *ngIf="newPassword.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="newPassword.errors.pattern" class="validation-message">Please maintain the password as per the password policy</label>
  </div>

<br>
  <input type="submit" value="Reset">

  <!-- Success Message -->
<div class="success" *ngIf="showSuccessMessage">
  Password Reset Successfull
</div>
  <!-- Error Message -->
<div class="alert" *ngIf="showErrorMessage">
  {{showErrorMessage}}
</div>

</form>
  </div>
</div>
