<div class="limiter">
  <div id="login-container" class="container-login">
    <div class="wrap-login">
      <div class="login-form-container fadeInDown">
        <div class="header">
          <a href="#default" class="logo">
              <img src="../../images/Dharan sports Logo.png" />
          </a>
          <div class="header-text-container">
              <div class="row">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-6 pr-0">
                              <div class="logo-content">
                                  <span>DHARAN SPORTS</span>
                              </div>
                          </div>
                          <div class="col-6 pl-0">
                              <div class="logo-ox-content">
                                <span>
                                  OX & FOX's
                                </span>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="hr-line-primary"></div>
                              <div class="hr-line-secondary"></div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-12 logo-text">
                          <span>A Unit of OX & FOX Sports and Charitable Trust</span>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <a href="#default" class="logo">
            <img src="../../images/Dharan sports Logo.png" />
          </a>
        </div>
       <!--- <div class="address">
          <h6># 1/221, Ponnuswamy Street, Vadakupattu, Chennai - 600100</h6>
          <h6>Mobile: +91-8939988127</h6>
          <h6><a>www.dharansports.in</a></h6>
          <h6>dharansports@gmail.com</h6>
        </div> -->
        <form class="login-form validate-form" #form="ngForm" (ngSubmit)="form.valid && onSubmit(form)">
          <div class="login-form-group">
            <div class="sign-in-up">
              <div class="sign-block">
                <a routerLink="/forgotPassword" class="active sign-text">
                  <fa-icon [icon]="faKey"></fa-icon> <span>Forgot Password</span>
                </a>
              </div>
            </div>

            <div class="wrap-input validate-input"  [ngClass]="{'invalid-textbox' :form.submitted && !email.valid}" data-validate="Valid email is required: ex@abc.xyz">
              <input class="input" type="text" #email="ngModel" maxlength="125" [(ngModel)]="userService.forgotpassword.email" name="email"
              required [pattern]="emailRegex" [ngClass]="{'has-val' :userService.forgotpassword.email}">
              <span class="focus-input"></span>
              <span class="label-input">Email</span>
            </div>
            <div *ngIf="form.submitted && email.errors">
              <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
            </div>


            <div class="success" *ngIf="showSuccessMessage">
              Email Sent Successfully
            </div>
              <!-- Error Message -->
            <div class="alert" *ngIf="showErrorMessage">
              {{showErrorMessage}}
            </div>
            <div class="row">
              <div class="col-6">
                <div class="container-login-form-btn">
                  <button class="login-form-btn">
                  Submit
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="container-login-form-btn">
                  <button (click)="goToLogin()" type="button" class="login-form-btn">
                  Cancel
                  </button>
                </div>
              </div>

            </div>

          </div>
          <div class="sponsor-image">
            <img src="../../../images/Playtonia-logo-300-black-new.png">
          </div>
        </form>
      </div>
      <div class="login-more fadeIn">
      </div>
    </div>
    <div _ngcontent-fjm-c111="" class="footer"># 1/221, Ponnuswamy Street, Vadakupattu, Chennai - 600100,
      Mobile: +91-8939988127,
      www.dharansports.in,
      dharansports@gmail.com
    </div>
  </div>
</div>
