<div class="wrapper fadeInDown">
  <div id="formContent">

<form #form="ngForm" (ngSubmit)="form.valid && onSubmit(form)">
  <h2 class="active underlineHover" >Forgot Passoword</h2>
  <input type="text" #email="ngModel" [(ngModel)]="userService.forgotpassword.email" placeholder="Email" name="email"
  required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :form.submitted && !email.valid}">
<div *ngIf="form.submitted && email.errors">
  <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
  <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
</div>
<input type="submit" value="Submit">
</form>

<!-- Success Message -->
<div class="success" *ngIf="showSuccessMessage">
  Email Sent Successfully
</div>
  <!-- Error Message -->
<div class="alert" *ngIf="showErrorMessage">
  {{showErrorMessage}}
</div>
  </div>
  </div>

