#formContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  /* background: #fff; */
  border-radius: 10px 10px 10px 10px;
}
h2{
  margin: 10px 750px;
}
form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 8px  #669999;
  }
  .left {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    }
    .left div {
    width:30%;
    margin: 10px 180px 0 180px;
    }
    .right {
      display:flex;
      justify-content:space-between;
      flex-direction:row;
      flex-wrap:wrap;
      }
      .right div {
      width:30%;
      margin: 10px 180px 0 180px;
      }
    .item {
      position: relative;
      margin: 10px 0;
      }

      input[type=text], [type=date], [type=number] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        /* float: right; */

        font-size: 16px;
        margin: 10px 600px 0 0;
        width: 55%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
      }
      input[type=radio]{
        position: relative;
        display: inline-block;
        margin: 10px 10px 15px 5px;
        cursor: pointer;

      }
      .item label{
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: rgb(122, 0, 0);
        line-height: 22px;
      }
      .option{
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: rgb(122, 0, 0);
        line-height: 22px;
      }
      input[type=button], input[type=submit], input[type=reset]  {
        margin: 80px 20px 40px 750px;
      }
