

[type="date"] {
  /* background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ; */
  /* appearance: none; */
  outline: 0;
  background:#f6f6f6;
  width: 85%;
  color: #0d0d0d;
  padding: 15px 32px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 5px;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}
[type= "number"] {
  appearance: none;
  outline: 0;
  background:#f6f6f6;
  width: 85%;
  color: #0d0d0d;
  padding: 15px 32px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 5px;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}
